		@font-face {
		  font-family: myFirstFont;
		  src: url(fonts/W95FA.otf);
		}
		
	html, head, body {
	    font-family: myFirstFont !important;
    	}
		a {
		    font-weight: bold;
			
		}
	a:hover {
	    font-style: italic; 	
	}
	li {
	    font-size: 150%;
		margin-left: 3px;
	}
	p, ul {
		padding: 1em;
	}
	ul {
		padding-left: 3em;
		text-align: left;
		
	    list-style-type: "  ──▸ ";
		border-left: 4px solid black;
		margin-left: 4em;
	}
	h1 {
	    font-size: 2em;
		background-image: linear-gradient(90deg, #000181, #1084d0);
	box-shadow: 5px 5px 0px 1px #ff7df4;

	padding-left: 1em;
padding-right: 1em;
color: white;
	display:inline-block; 
	
	align: center;

	}
	
	@media only screen and (min-width: 768px) {
		body {
			margin: 2em;
		}
	}
	
	body {
		padding: 0;
		text-align:center;
		font-size: 1.5em;
		max-width: 30em;
		box-shadow: 

		-0.2em -0.2em 0px 0px #ffffff,
		-0.2em 0px 0px 0px #ffffff,
		0px -0.2em 0px 0px #ffffff,

					
		0.2em 0.2em 0px 0px #808080,
		0.2em -0.2em 0px 0px #808080,
		-0.2em 0.2em 0px 0px #808080,
		
		-0.4em -0.4em 0px 0px #dfdfdf,
		-0.4em 0.2em 0px 0px #dfdfdf,
		0.2em -0.4em 0px 0px #dfdfdf,
		
		
		0.4em 0.4em 0px 0px #000000,
		-0.4em 0.4em 0px 0px #000000,
		0.4em -0.4em 0px 0px #000000;
		
		background-color: #c0c0c0;
		padding-bottom: 2em;
	}
	
	
	@media only screen and (max-device-width: 480px) {
	    body { max-width: 100%; }
	}

	// recent Webkit-specific media query to target the iPhone 4's high-resolution Retina display
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	    // CSS goes here
	}

	// should technically achieve a similar result to the above query,
	// targeting based on screen resolution (the iPhone 4 has 326 ppi/dpi)
	@media only screen and (min-resolution: 300dpi) {
	    // CSS goes here
	}
	
	html {
		background: url("background.gif");
		background-size: cover;
	}